/* Layout extra classes */
.is-fullheight{
  height: 100%;
}

/* Botones */
a{
  color: #7C4DFF !important;
}

.is-active{
  border-color: #7C4DFF !important;
}

.button{
  background-color: #7C4DFF !important;
}

.button:hover{
  background-color: #512DA8 !important;
}

/* Esqueleto de la web */
html, body{
  height: 100%;
}

.page{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header{
  flex: 0;
  margin: 0;
}

.contentLayout{
  flex: 1;
  margin: 0;
}

/* Navigation */
.nav{
  background-color: #7C4DFF !important;
}

#logo{
  display: flex;
  align-items: center;
  overflow: hidden;
}

#logo img{
  max-height: 2.8rem;
}

#navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px){
  #logo{
    justify-content: center;
  }
  .nav-menu{
    background-color: #7C4DFF !important;
    padding-bottom: 10px;
  }
}

.nav-button{
	display: flex !important;
	justify-content: center !important;
	border: 0px !important;
  color: white !important;
	width: 40%;
	max-width: 150px;
	margin: 0 5% 0 5%;
	background-color: rgba(255, 255, 255, 0.25) !important;
}

.nav-button:hover{
  color: #7C4DFF !important;
  background-color: white !important;
}

/* Home Background */
.home-background{
  background-image: url("images/homeBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 !important;
}

/* Login y Register */
.login-form,
.register-form{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-form{
  height: 35%;
  min-height: 350px;
  max-height: 600px;
  min-width: 300px;
  max-width: 400px;
}

.register-form{
  min-width: 325px;
  max-width: 600px;
}

.registrationMonth{
	text-align: center;
}

.login-form form,
.register-form form{
  width: 80%;
}

.login-form input,
.register-form input{
  text-align: center;
}

/* User profile */
.avatar img{
  border-radius: 8px;
}

.profileBackground{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileContainer{
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}

.profile{
  width: 25%;
  max-width: 300px;
}

.profile .avatar{
  position: relative;
  top: -50px;
  left: 30px;
}

.profile .avatar img{
  width: 192px;
  height: 192px;
  border: 4px solid white;
  background-color: white !important;
}

.profile-info{
  position: relative;
  top: -50px;
  left: 30px;
  min-width: 200px;
  width: 30%;
}

.profile-info p{
  margin-bottom: 10px;
}

.profileRight{
  width: 25%;
  max-width: 300px;
}

.profileContent{
  flex: 1;
  background-color: white;
}

.profileTweets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContent nav{
  background-color: white !important;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.profileFilms,
.profileActors{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 30px;
}

.profileFilms a,
.profileActors a{
  text-align: center;
}

.favfilm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px !important;
  margin-bottom: 10px;
}

.favfilm p{
  margin-top: 10px;
  text-align: center;
}

.favfilm img{
  width: 164px;
  height: 164px;
}

.profileActors{

}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: #7c4dff !important;
}

/* Categorias */
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white !important;
}

/* Tweet */
.tweetList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tweet{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
  max-width: 700px !important;
}

.tweetInfo{
  width: 100%;
  text-align: center;
}

.tweetInfo span{
  margin-left: 10px;
  margin-right: 10px;
}

.tweet .media{
  display: flex;
  align-items: center;
}

.comment{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.tweet .comment p{
  word-break: break-all;
}

.tweet .media-content{
  text-align: center;
}

.tweetWithImage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 600px !important;
}

.tweetWithImage .media{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px !important;
}

.tweetWithImage .media .media-left{
  margin-bottom: -10px;
}

.actorTweet{
  border: 2px solid #7C4DFF !important;
}


.filmTweet{
  border: 2px solid #5c80bc !important;
}

.advertTweet{
    border: 2px solid #e8c547 !important;
}

.userListProfile{
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.userListProfile .user{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	margin: 25px;
}

.userListProfile .user .avatar{
  height: 96px;
  width: 96px;
}


.userListProfile .user .avatar img{
	height: 96px;
	width: 96px;
	max-height: 96px;
	max-width: 96px;
}

.userListProfile .user .buttons .button{
  color: white !important;
}

.userList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.userList .user{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.userList .user .avatar{
  margin: 10px;
}

.userList .user .buttons .button{
  color: white !important;
}

/* Mensaje problema web*/
.problemMessage{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 40px;
  border-radius: 8px;
  background-color: #7c4dff;
}

.problemMessage h1, .problemMessage h2{
  color: white !important;
  margin-bottom: 40px !important;
}

.privateProfile{
	margin: auto 10% auto 10%;
	text-align: center;
}

.privateProfile .gender{
	display: flex;
	justify-content: center;
}

.privateProfile h4{
	margin-top: 25px;
}

#privateProfileSubmit{
	width: 25%;
	max-width: 220px;
	margin: auto;
	margin-top: 50px;
}

.publishTweet{
	margin: 0 10% 0 10%;
	text-align: center;
}
